<div>
  <h3>My Repeats</h3>
  <div ng-show="repeatList">
    <ul class="list-group" ng-repeat="repeat in repeatList">
      <li class="list-group-item" ng-click="setRepeatShow(repeat.title, $index)">
        <a href="">{{repeat.title}}</a>
      </li>
      <br>
      <p ng-show="repeat.show">
        {{repeat.description}}<br>
        {{repeat.checklist}}<br>
        <center><button ng-if="repeat.show" type="button" class="btn btn-default" ng-click="setRepeatIndexToUpdate($index)"><a href="/#/update_repeat">Update</a></button></center>
      </p>
    </ul>
  </div>
  <div ng-hide="repeatList">
    <p>loading...</p>
  </div>
  <div>
    <p>
      <a href="#create_repeat"><center><button type="button" class="btn btn-default">Create New Repeat</button></center></a>
    </p>
  </div>
</div>