body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

a {
  text-decoration: none;
}

#new-repeat {
  text-align: center;
}

footer {
  text-align: center;
}

#copyright {
  text-align: center;
}