<div class="container">

      <!-- Static navbar -->
      <div class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Dorepeat App</a>
          </div>


          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/#/my_repeats">My Repeats</a></li>
              <li><a href="/#/create_repeat">Create Repeats</a></li>
              <li><a href="#">Top Repeats</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Settings <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Theme</a></li>
                  <li><a href="#">Push alarm</a></li>
                  <li><a href="#">Personal info</a></li>
                  <li><a href="#">Logout</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right" ng-controller="loginCtrl">
              <li class="active"><a href="./">Sign Up</a></li>
              <li ng-hide="isLoggedIn"><a href="" ng-click="login()">LogIn</a></li>
              <li ng-show="isLoggedIn"><a href="" ng-click="logout()">Logout</a></li>
              <div id="fb-root"></div>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </div>

<div ng-view></div>



<div class="footer">
  <p id="copyright">Copyright © KSLabs. All Right Reserved</p>
</div>
